#API Endpoint
API_DNI_URL="https://api.apis.net.pe/dni"
API_DNI_URL_2="https://panuts.com"
API_RUC_URL="https://api.apis.net.pe/ruc"
API_RUC_URL_2="https://panuts.com/wp-json"
IP_API_URL="https://api.ipify.org"

#LOGIN Credentials
USUARIO_LOGIN="administrador"
PASSWORD_LOGIN="administrador"

#RECAPTCHA
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
RECAPTCHA_SECRET=